.logged-in-msg {
  font-size: 2.5em;
  color: hsla(140, 83%, 45%, 0.8);
  padding: 10px;
  margin: 0;
}
.logged-out-msg {
  font-size: 2.5em;
  color:hsla(0, 50%, 50%, 0.8);
  padding: 10px;
  margin: 0;
}